body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}

nav {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #1e293b;
}

button {
    padding: 10px;
    cursor: pointer;
}

.hidden { display: none; }

canvas {
    background: white;
    margin: 10px 0;
}
